body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  * {
      box-sizing: border-box;
      outline:none;
    }

  .two-step {
      margin: 0 auto;
      justify-content: center;
      text-align: center;
      align-items: center;
  }
  
  .two-step input {
    width: 80%;
    padding: 12px 20px;
    margin: 8px auto;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 30px;
    font-size: 18px;
  }
  
  .two-step button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 80%;
    font-size: 18px;
    border-radius: 30px;
  }
  
  .two-step button:hover {
    opacity: 0.8;
    border-radius: 30px;
  }
  
  .two-step .container {
    padding: 40px;
    margin-top: 0%;
  }
  
  .two-step {
    display: none; 
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    padding-top: 60px;
  }
  
  .two-step-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; 
    border: 1px solid #888;
    width: 30%; 
    border-radius: 40px;
  }
  
  .two-step .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  .container p {
    font-size: 20px;
    font-weight: 600;
  }

  .container h2 {
    font-size: 28px;
    font-weight: 600;
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }

  .error {
    background-color: #04AA6D;
    color: white;
    font-weight: 600;
    float: left;
    width: 80%;
    margin: 0 10%;
    border-radius: 20px;
    font-size: 18px;
    text-align: center;
}