* {
    box-sizing: border-box;
    outline:none;
  }


  .fresh-lots{
    width: 40%;
    float: right;
    margin: 5% auto;
}

.lots {
    width: 90%;
    justify-content: center;
    align-items: center;
    float: right;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    text-align: center;
    width: 45%;
    float: left;
    border-radius: 20px;
    height: 350px;
    max-height: 350px;
    overflow: hidden;
    margin: 12px 15px;
  }

  .card h1{
      font-size: 18px;
  }
  .card img {
    width:100%;
    max-height: 200px;
    min-height: 200px;
  }
  
  .title {
    color: black;
    font-size: 15px;
  }
  
 .lots button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 20px;
    margin-bottom: auto;
  }
  
  .main-block {
      height: 80px;
  }

  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  
  button:hover, a:hover {
    opacity: 0.7;
  }

  
  .card::after {
    content: "";
    clear: both;
    display: table;
}

.new p {
  position: absolute;
  float: left;
  margin-top: 10px;
  margin-left: 10px;
  background-color: blueviolet;
  color: white;
  border-radius: 20px;
  padding: 5px 10px;
}