body {font-family: Arial, Helvetica, sans-serif;}
* {
    box-sizing: border-box;
    outline:none;
  }
  

.form {
    margin: 10% 40%;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.reset-from {
    width: 100%;
}

.reset-from input {
  width: 80%;
  padding: 12px 20px;
  margin: 8px auto;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 30px;
  font-size: 18px;
  text-align: center;
}

.reset-from button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 80%;
    font-size: 18px;
    border-radius: 30px;
}

.reset-from p {
    font-size: 20px;
    font-weight: 600;
}

.error {
    background-color: #04AA6D;
    color: white;
    float: left;
    width: 80%;
    margin: 0 10%;
    border-radius: 20px;
    font-size: 18px;
    text-align: center;
  }
  
