<div class="container">
    <div class="text-line">
        <p>There are you bids</p>
    </div>
    <p></p>
    <hr>
    <div *ngFor="let lot of lots">
        <div class="card">
            <img [src]="createImgPath(lot.image)" alt="profile picture">
            <div class="main-block">
                <h1>{{lot.nameLot}}</h1>
                <p class="title">{{lot.description}}</p>
                <p class="title">Contact {{lot.user.email}} </p>
            </div>

            <div class="sold">
                <button *ngIf="!lot.isSold" class="green" routerLink="/lot/{{lot.id}}">Future Lot {{lot.currentPrice |
                    currency}}</button>
                <button *ngIf="lot.isSold" class="red" routerLink="/lot/{{lot.id}}">Sold for {{lot.currentPrice |
                    currency}}</button>
            </div>
        </div>
    </div>
</div>