<div class="modal">
    <span (click)="decline()" class="close" title="Close Modal">&times;</span>
    <div class="modal-content">
        <div class="container">
            <h1>{{ title }}</h1>
            <p>{{ message }}</p>

            <div class="clearfix">
                <button type="button" (click)="accept()" class="okbtn">{{ btnOkText }}</button>
                <button type="button" (click)="decline()" class="cancelbtn">{{ btnCancelText }}</button>
            </div>
        </div>
    </div>
</div>