  body {font-family: Arial, Helvetica, sans-serif;}
  * {box-sizing: border-box;}
  
  button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  button:hover {
    opacity:1;
  }
  
  .okbtn,
  .cancelbtn {
    float: left;
    width: 50%;
  }
  
  .cancelbtn {
    background-color: red;
    color: black;
    border-radius: 0px 20px 20px 0px;
  }
  
  .okbtn {
    background-color: green;
    border-radius: 20px 0px 0px 20px;
  }
  
  .container {
    padding: 16px;
    text-align: center;
  }
  
  .modal {
    display: block; 
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: #474e5d;
    padding-top: 50px;
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; 
    border: 1px solid #888;
    width: 50%; 
    border-radius: 20px;
  }
 
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }

  .close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
  }
  
  .close:hover,
  .close:focus {
    color: #f44336;
    cursor: pointer;
  }
  
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  
  @media screen and (max-width: 300px) {
    .cancelbtn, .okbtn {
       width: 100%;
    }
  }