* {
    box-sizing: border-box;
    outline:none;
  }

  body { 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
  }

.update-form {
    margin: 100px auto;
    width: 30%;
}

.update-form .full input {
    width: 100%;
    border-radius: 30px;
    font-size: 20px;
    height: 40px;
    border: 1px solid #ccc;
    padding: 12px 20px;
    margin: 8px auto;
}

.update-form textarea {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 30px;
    height: 150px;
    font-size: 20px;
    padding: 8px 18px;
    margin: 8px auto
}

.update-form textarea {
    resize: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    overflow: hidden;
}

.col-3 input {
    width: 33.3%;
    border-radius: 30px;
    font-size: 20px;
    height: 40px;
    border: 1px solid #ccc;
    margin-top: 8px;
    float: left;
    padding: 12px 20px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.image img {
    margin-top: 14px;
    width: 100%;
    height: auto;
    border-radius: 20px;
}

.update-form .btn-submit button,
.update-form .image button {
    width: 100%;
    margin: 14px auto;
    border-radius: 30px;
    font-size: 20px;
    background-color: black;
    padding: 7px 20px;
    cursor: pointer;
    color: white;
}  


hr{
    border: none; 
    background-color: black; 
    color: black;
    height: 4px; 
    width: 100%;
    margin: 20px auto;
  }

  .text-line {
    font-size: 28px;
    font-weight: 600;
    text-align: left;
    height: 30px;
}

.full .error,
.full .semi-error ,
.col-3 .error {
    background-color: black;
    color: red;
    float: left;
    border-radius: 20px;
    font-size: 18px;
    text-align: center;
}
.full .error {
    width: 100%;
}

.col-3 .error {
    width: 33.3%;
    float: right;
}

.mul-img img{
    width: 200px;
    height: 200px;
    border-radius: 20px;
}

.mul-img .upload button{
    width: 200px;
    height: 200px;
    border-radius: 20px;
    background: black;
    color: white;
    font-size: 30px;
}

.cancel button {
    background: none;
    font-size: 20px;
    position: absolute;
    border-radius: 20px;
    background: white;
}

.mul-img {
    margin:10px 10px 10px; 
}

.mult-images {
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
}
