<div id="forgot-pass-form" class="forgot">
    <div class="forgot-content animate">
        <form method="post" #resetForm="ngForm" (ngSubmit)="resetPassForm(resetForm)">
            <div>
                <span onclick="document.getElementById('forgot-pass-form').style.display='none'" class="close"
                    title="Close Modal">&times;</span>
            </div>
            <div class="container">
                <p>Forgot password</p>
                <div>
                    <input type="text" placeholder="Enter Email" id="Email" name="Email" ngModel #Email="ngModel"
                        required email>
                    <div class="error" *ngIf="Email.errors?.required && Email.touched">Required field</div>
                    <div class="error" *ngIf="Email.errors?.email && Email.touched">Invalid email</div>
                </div>
                <button type="submit" [disabled]="Email.invalid">Reset Password</button>
            </div>
        </form>
        <div class="regis-btn">
            <a (click)="showLoginForm()" class="underline">
                <p>Back to sign in</p>
            </a>
        </div>
    </div>
</div>