* {
  box-sizing: border-box;
  outline:none;
}

hr {
  border: none; 
  background-color: black; 
  color: black;
  height: 4px; 
  width: 90%;
  float: left;
  margin-bottom: 20px;
}

.txt {
margin-top: 50px;
}

.txt p{
font-size: 30px;
font-weight: 600;
height: 10px;
float: left;
}

.filter-comm {
float: right;
margin-right: 10%;
margin-top: 40px;
}

.filter-comm a {
margin: 0 10px;
height: 10px;
font-size: 20px;
}

.text p {
  padding-top: 100px;
  font-size: 30px;
  font-weight: 600;
  color: black;
}

.comments {
width: 90%;
}

.comments input {
width: 95%;
font-size: 25px;
border-radius: 20px;
padding: 5px 5px;
}

.comments button {
width: 5%;
font-size: 25px;
padding: 5px 5px 5px 5px;
border-radius: 50%;
background-color: green;
color: white;
}

.comment{
margin-left: 4%;
width: 90%;
margin-bottom: 10px;
}

.comment .head {
margin-top: 0;
width: auto;
display:flex;
}

.comment .text {
margin-top: 0;
}

.comment .head p{
text-align: left;
font-size: 18px;
padding: 0;
font-weight: 600;
height: 5px;
}

.comment .text p{
text-align: left;
padding: 0;
font-size: 20px;
height: auto;
margin-top: 0px;
font-weight: normal;
}

.space {
width: 100%;
}

.seller p {
color: green;
font-size: 20px;
margin-left: 10px;
position: relative;
}

.delete {
margin-top: 10px;
}

.delete a {
color: green;
font-size: 30px;
margin-left: 10px;
position: relative;
}

.comments input{
padding-left: 10px;
}

.isBid {
display: inline;
padding-bottom: 20px;
}

.isBid p {
background-color: black;
color: white;
font-size: 20px;
text-indent: 10%;
border-radius: 20px;
display: inline;
}

.isBid p::after {
content: "   ";
white-space: pre;
}

.isBid p::before {
content: "   ";
white-space: pre;
}