* {
    box-sizing: border-box;
    outline:none;
}
body { 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
}

  .navbar {
    overflow: hidden;
    background:none;
    font-family: Arial;
    margin-top: 25px;
  }

  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
    margin-left: 20%;
    width: auto;
  }

  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; 
    margin: 0;
    border-radius: 30px;
    background-color: black;
    font-size: 30px;
  }
  
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 20px;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    border-radius: 20px;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

 .navbar .main-page{
   float: left;
   background-color: black;
   color: white;
   margin-left: 10%;
   border-radius: 30px;
   height: 60px;
 }

 .main-page a {
   justify-content: center;
   text-align: center;
   font-size: 30px;
 }

 hr{
  border: none; 
  background-color: black; 
  color: black;
  height: 4px; 
  width: 90%;
  margin: 20px auto;
}