 * {
    box-sizing: border-box;
    outline:none;
}

.tfoot {
    margin-top: 50%;
}

.tfoot  hr{
    border: none; 
    background-color: black; 
    color: black;
    height: 4px; 
    width: 90%;
    margin-top: 30%;
  }

  .tfoot .col-3{
      width: 33.3%;
      float: left;
  }
  
  .tfoot .common-row{
    margin: 0 auto;
    width: 50%;
    justify-content: center;
    align-items: center;
    text-align: left;
    margin-left: 30%;
}

.common-row p{
    font-size: 20px;
}

.common-row .header p {
    font-weight: 600;
}