body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  * {
      box-sizing: border-box;
      outline:none;
    }

.overlay {
    background: black;
    width: 100%;
    height:100%;
    z-index:1;
    position: fixed;
    top: 0%;
    left: 0%;
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9); 
    overflow-x: hidden; 
    transition: 0.5s;
}
  .overlay-content {
    z-index:1;
    width: 100%; 
    margin-top: 30px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
  } 

  .overlay .closebtn {
    float: right;
    position: fixed;
    color: white;
    font-size: 40px;
    margin-left: 96%;
    font-weight: bold;
  }
  
  .overlay .closebtn:hover,
  .overlay .closebtn:focus {
    color: red;
    cursor: pointer;
  }

  .overlay img {
      width: 700px;
      height: 500px;
      padding: 20px;
  }
  