<div class="container">
    <div class="lot" *ngIf="lot!==null">
        <h3>{{lot['nameLot']}} <a class="unstar" id="star-{{lot.id}}" (click)="changeStar(lot.id)">&#9733;</a></h3>
        <h4>{{lot['description']}}</h4>
        <div class="images">
            <div id="images">
                <app-show-lot-images [lot]="lot"></app-show-lot-images>
            </div>
        </div>
        <img [src]="createImgPath(lot.image)" alt="lotpicture">
        <div class="flex-images">
            <img [src]="createImgPath(lot['images']['image1'])" alt="lotpicture">
            <img [src]="createImgPath(lot['images']['image2'])" alt="lotpicture">
            <div class="show-more">
                <img [src]="createImgPath(lot['images']['image3'])" alt="lotpicture" />
                <div class="back"></div>
                <a (click)="showImages()" class="text">All Photos</a>
            </div>
        </div>
        <div class="bid">
            <p *ngIf="comments">#Current bid {{lot.currentPrice|currency}} #Comments {{comments.length}} #Bids
                {{lot.lotState.countBid}} </p>
            <div class="timer">
                <p id="timer-{{lot.id}}"></p>
            </div>
            <button *ngIf="!lot['isSold'];else isSoldBut" [disabled]="userId===lot.userId" (click)="placeBid()">#Place
                Bid</button>
            <ng-template #isSoldBut><button disabled style="background: grey;">#Is sold</button></ng-template>
        </div>
        <div class="info">
            <p>Owner: {{lot.user.name}} {{lot.user.surname}} Email: {{lot.user.email}}</p>
        </div>
        <app-comments [lot]="lot" [userId]="userId" [comments]="comments" [filtredComments]="filtredComments">
        </app-comments>
    </div>
    <app-fresh-lots [lot]="lot"></app-fresh-lots>
</div>
<app-ask-owner-form [ownerEmail]="lot['user']['email']" *ngIf="userId!==lot['userId']">
</app-ask-owner-form>