* {
    box-sizing: border-box;
    outline:none;
  }
  
  body { 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
  } 

.list {
    width: 40%;
    margin: 0 auto;
}

table {
    margin-top: 20px;
    border-spacing: 0;
    width: 100%;
    border: 4px solid black;
    border-radius: 20px;
    overflow: hidden;
  }
  
   th, td {
    text-align: left;
    padding: 16px;
    font-weight: 600;
    font-size: 20px;
  }

   tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  .list hr{
    border: none; 
    background-color: black; 
    color: black;
    height: 4px;
  }

  .head-text p {
      font-weight: 600;
      font-size: 30px;
      height: 20px;
  }

  .list button {
      justify-content: center;
      margin: 0 auto;
  }

  .list i {
      font-size: 30px;
  }
