* {
    box-sizing: border-box;
    outline:none;
  }

  .sort {
    width: 60%;
    margin: 0 auto;
  }

  .sort .dropdown {
    overflow: hidden;
  }
  .sort .dropdown {
    width: auto;
    float: left;
  }
  .sort .dropbtn button {
    width: 20%;
  }

  .sort .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; 
    margin: 0;
    border-radius: 30px;
    background-color: black;
    font-size: 20px;
  }
  
  .sort .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 20px;
    font-size: 20px;
  }
  
  .sort .dropdown-content button {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    border-radius: 20px;
    width: 100%;
    font-size: 20px;
  }
  
  .sort .dropdown-content button:hover {
    background-color: #ddd;
  }
  
  .sort  .dropdown:hover .dropdown-content {
    display: block;
  }

.lots {
    margin: 80px 20%;
    width: 60%;
    justify-content: center;
    align-items: center;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    text-align: center;
    width: 50%;
    float: left;
    border-radius: 20px;
    height: 350px;
    max-height: 350px;
    overflow: hidden;
    margin: 12px 15px;
  }

  .card h1{
      font-size: 18px;
  }
  .card img {
    width:100%;
    max-height: 200px;
    min-height: 200px;
  }
  
  .title {
    color: black;
    font-size: 15px;
  }
  
 .lots button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 20px;
    margin-bottom: auto;
  }
  
  .main-block {
      height: 80px;
  }

  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  
  button:hover{
    opacity: 0.7;
  }

  
  .card::after {
    content: "";
    clear: both;
    display: table;
}

.lots hr{
  border: none; 
  background-color: black; 
  color: black;
  height: 4px;
}

.card h1 ,
.card p {
  height: auto;
}

.differ {
  width: 100%;
  height: 1px;
}

.favorite {
  position: relative;
}
 
.star,
.unstar {
  position: absolute;
  cursor: pointer;
  background: black;
  font-size: 20px;
  border-radius: 50%;
  float: left;
  margin-left: -48%;
  margin-top: -7%;
  width: 30px;
  height: 30px;
  transition: transform .2s;
}
 
.star {
  color: yellow;
}

.unstar {
  color: white;
}

.star a:hover,
.unstar a:hover {
  opacity:1;
}

.star:hover,
.unstar:hover {
  transform: scale(1.5);
}

.timer {
  position: absolute;
  background-color: black;
  color: white;
  border-radius: 20px;
  margin-top: -29px;
  height: auto;
  margin-left: 5%;
  float: right;
  opacity:0.8;
}

.timer p {
  position: relative;
  margin: 0 10px;
  height: auto;
  font-size: 20px;
  align-items: center;
}





