* {
    box-sizing: border-box;
    outline:none;
  }

.text-line {
    font-size: 28px;
    font-weight: 600;
    text-align: left;
    height: 30px;
}

hr{
    border: none; 
    background-color: black; 
    color: black;
    height: 4px; 
}

.lots {
    margin: 80px 20%;
    width: 60%;
    justify-content: center;
    align-items: center;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    text-align: center;
    width: 50%;
    float: left;
    border-radius: 20px;
    height: 350px;
    max-height: 350px;
    overflow: hidden;
    margin: 12px 15px;
  }

  .card h1{
      font-size: 18px;
  }
  .card img {
    width:100%;
    max-height: 200px;
    min-height: 200px;
  }
  
  .title {
    color: black;
    font-size: 15px;
  }
  
 .lots button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 20px;
    margin-bottom: auto;
  }
  
  .main-block {
      height: 80px;
  }

  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  
  button:hover, a:hover {
    opacity: 0.7;
  }

  
  .card::after {
    content: "";
    clear: both;
    display: table;
}

.lots hr{
  border: none; 
  background-color: black; 
  color: black;
  height: 4px;
}

.card h1 ,
.card p {
  height: auto;
}

.favorite {
    position: relative;
  }  

.star {
    position: absolute;
    cursor: pointer;
    color: yellow;
    background: black;
    font-size: 20px;
    border-radius: 50%;
    float: left;
    margin-left: -48%;
    margin-top: -7%;
    width: 30px;
    height: 30px;
    transition: transform .2s;
  }

.star:hover {
  opacity: 1;
  transform: scale(1.5);
}