<div class="lots">
    <div class="text-line">
        <p>Your favorite lots</p>
    </div>
    <p></p>
    <hr>
    <div *ngFor="let lot of lots">
        <div class="card">
            <img [src]="createImgPath(lot.image)" alt="profile picture">
            <div class="favorite">
                <a class="star" (click)="removeFromFavorite(lot.id)">&#9733;</a>
            </div>
            <div class="main-block">
                <h1>{{lot.nameLot}}</h1>
                <p class="title">{{lot.description}}</p>
            </div>
            <p><button routerLink="/lot/{{lot.id}}">Bid {{lot.currentPrice | currency}}</button></p>
        </div>
    </div>